# Binaries
/target/
**/*.rs.bk

# Backup & editor files
*.log
*.tmp
*.swp
*~
.DS_Store

# IDEs
.idea/
.vscode/
*.code-workspace

# Cargo related
Cargo.lock

# Test output
/coverage/
*.profraw

# By OS
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log

# Rust tooling cache
/.cargo/
